.flex {
	display: flex;
}

.container {
    display: flex;
	max-width: 95%;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.championPool{
    width: 60%;
    margin: 0 auto;
    height: 535px;
    overflow: scroll;
    scroll-behavior: ;
    background-color: rgb(100, 90, 231);
}

.searchBar{
    margin-bottom: 10px;
    background-color: rgb(131, 29, 34);
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
}

.searchBar>input{
    background-color: rgb(228, 65, 65);
    border: none;    
    border-radius: 15px;
    height: 20px;
}

.searchBar>label{
    color:coral;
}

.championsGrid{ 
    width: 75px;
    margin: 5px;    
    position: relative;
    display: inline-block;        
}

.imageskew{    
    transition: transform 0.2s, filter 0.5s;
    width: 100%;
    z-index: 100;
    filter: grayscale(80%);
}

.imageskew:hover{  
    transform: scale(1.2, 1.2) ;
    z-index: 1000;
    filter: grayscale(0%);
    cursor: pointer;
    
}

.team{   
    float:left;
    width:20%;
}
.blue{
    background-color:rgb(33, 33, 192);
    border: groove 10px rgb(33, 33, 192);
}
.red{
    border: groove 10px rgb(214, 30, 30);
    background-color:rgb(136, 5, 5);
}